@font-face {
    font-family: 'BrophyOpti';
    src: url('BrophyOpti.otf') format('opentype');
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
    font-family: 'BrophyOpti', sans-serif;
    background-color: #ffffff; /* White background */
}

.link {
    display: block;
    position: absolute;
    text-decoration: none;
    color: #333;
    font-size: 25px; /* Make the line thinner */
    font-weight: bold;
}

/* Corners */
.top-left { top: -3px; left: 23px; transform: rotate(45deg); transform-origin: top left; }
.top-right { top: 17px; right: -30px; transform: rotate(135deg); transform-origin: top left; }
.bottom-left { bottom: 3px; left: 23px; transform: rotate(-45deg); transform-origin: bottom left; }
.bottom-right { bottom: 25px; right: -27px; transform: rotate(-135deg); transform-origin: bottom left; }

/* Edges */
.top { top: -3px; left: 50%; transform: translateX(-50%) rotate(90deg); }
.bottom { bottom: 1px; left: 50%; transform: translateX(-50%) rotate(90deg); }
.left { left: 0; top: calc(50% - 3px); transform: translateY(-50%); }
.right { right: 0; top: calc(50% - 3px); transform: translateY(-50%); }

#animation-container {
    display: none; /* Hidden by default */
    position: fixed;
    top: 51.5%; /* Moved down */
    left: 50.5%;
    transform: translate(-50%, -50%);
    font-size: 30vw; /* Made smaller */
    color: #333;
    z-index: 100;
    pointer-events: none; /* Make it unclickable */
    transform-origin: center;
}

#3d-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place it behind other content */
}

.left-text {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    white-space: pre-wrap; /* Preserve line breaks */
    text-align: left;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

@keyframes flash {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.2; }
}

.flashing {
    animation: flash 0.5s 3; /* Flash 3 times */
}